<h1>Directors</h1>
  <% @directors.each do |director| %>
    <h3>Name: <%= director.name %></h3>
    <p>ID: <%= director.id %></p>
    <p>Has Oscar: <%= director.oscar %></p>
    <p>Nominations: <%= director.nominations %></p>
<% end %>
