<h1><%= @vegetable_garden.name %></h1>
<p>Summer Garden: <%= @vegetable_garden.summer_garden %></p>
<p>Winter Garden: <%= @vegetable_garden.winter_garden %></p>
<p>Hours of Sunlight: <%= @vegetable_garden.hrs_of_sun %></p>
