<h1>Vegetables</h1>

<% @vegetables.each do |vegetable| %>
  <h3><%= vegetable.name %></h3>
  <p>Perennial: <%= vegetable.perennial %></p>
  <p>Minimum of Sunlight: <%= vegetable.min_hrs_sun %></p>
  <%= link_to "Edit #{vegetable.name}", "/vegetables/#{vegetable.id}/edit" %>
<% end %>
