<h1><%= @vegetable.name %></h1>
<p>Summer Harvest: <%= @vegetable.summer_harvest %></p>
<p>Winter Harvest: <%= @vegetable.winter_harvest %></p>
<p>Minimum of Sunlight: <%= @vegetable.min_hrs_sun %></p>
